  .card-purple {
            background-color: #efa3fd;
            border: none;
            border-radius: 1rem;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .form-check-input:checked {
            background-color: #553355;
            border-color: #553355;
        }

        .form-check-input {
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #553355; /* darker border */
    background-color: #f3e8f5; /* light background */
    transition: all 0.2s ease-in-out;
}
        .btn-confirm {
            background-image: linear-gradient(to right, #553355, #9B609B);
            border: none;
            color: white;
            font-weight: bold;
            padding: 1rem 2rem;
            border-radius: 0.5rem;
            transition: all 0.3s ease;
        }
        .btn-confirm:hover {
            box-shadow: 0 4px 10px rgba(85, 51, 85, 0.3);
            transform: translateY(-2px);
            background-image: linear-gradient(to right, #6A406A, #A975A9);
        }
        .modal-content-custom {
            background-color: #D4C5D7;
            border-radius: 1rem;
            text-align: center;
        }