

body{
    background-color: #ffedea;
}


.vertical-dotted-line {
  position: absolute;
  left: 50%;                  /* center horizontally */
  top: 0;
  bottom: 0;                  /* stretch full height */
  transform: translateX(-50%);
  border-left: 2px dotted #6f42c1;
  z-index: 0;
}
/* welcome */
  .meet-team-button {
            background: linear-gradient(90deg, #6EE7B7 0%, #10B981 100%);
            transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        }
        .meet-team-button:hover {
            transform: scale(1.05);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }

      
        